<!DOCTYPE html>
<html>
  <head>
    <title>SaveTheAnimalsApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right"
              type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to image_tag('renee-the-panda-small.png'), root_url, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
              <li class="nav-item">
                <%= link_to 'Manage Ethograms', ethograms_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Export Observations', export_observations_path(format: :csv), class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Users', users_path, method: :get, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
          <% else %>
              <li class="nav-item">
                <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
              </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <main class="container">

      <%= flash_messages %>

      <div class="content">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
